.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.conteiner{
  margin: 0 40px;
}

.conteiner li{
  margin: 10px 0;
}

.conteiner h1{
  text-transform: uppercase;
  background-color: #37DE6A;
  margin: 20px 25%;
}

.listitem a{
  text-decoration: none;
  background-color: #64DE89;
  color: #000;
  transition: all .3s;
  padding: 5px;
}

.listitem a:hover{
  background-color: #37DE6A;
}

.listitem{
  margin: 10px 0;
  text-align: left;
  list-style-type: none;
}

.album_conteiner h1{
  text-transform: uppercase;
  background-color: #37DE6A;
  margin: 20px 25%;
}

.album_conteiner .about-album{
  text-transform: none;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #37DE6A;
  padding: 5px;
}

.album_conteiner .about-album .about span{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid red;
}

.songs_conteiner h1{
  text-transform: uppercase;
  background-color: #37DE6A;
  margin: 20px 25%;
}

.Star_rating{
  margin-top: -25px;
  margin-left: 300px;
}

.l_item{
  margin: 10px 0;
}
